@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


/* @font-face {
  font-family: Fragment Mono;
  src: url('../../public/FragmentMono-Regular.woff');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: Fragment Mono;
  src:url('../../public/FragmentMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Fragment Mono Italic;
  src:url('../../public/FragmentMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


.mono{
  font-family: "Fragment Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.mono-ital{
  font-family: "Fragment Mono Italic", monospace;
  font-weight: 300;
  font-style: italic;
}

.sans {
  font-family: "Fragment Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

div::-webkit-scrollbar{
  display:none;
  height: 0;
  width: 0;
}

*{
  text-transform: uppercase;
}